// Widescreens
@include mediaXl {
  //for display in the my project page 
    .project {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  // Desktops & Laptops
  @include mediaLg {
    //for display in my projects page
    .project {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  // Tablets & Small Laptops
  @include mediaMd {
      //items and textalign to centre 
    main {
      align-items: center;
      text-align: center;
      // reduce the big line gap between the name initals
      .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
      }
    }
    ul.menu-nav,
    div.menu-branding {
      //for the left branding side of menu to be 100% as we want to display in one under another
      // not side by side
      float: none;//as the width needs to be 100% not any specific left or right
      width: 100%;
      min-height: 0;
  
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
      }
      .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            background: url('../img/portraitSmall-04.jpg');
            width: 150px;
            height: 151px;
          }
      }   
      
      // mobile display of about me
      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'job1'
          'job2'
          'job3';
    
        grid-template-columns: 1fr;
      }
     // for display in my projects page
      .project {
        grid-template-columns: repeat(2, 1fr);
      }
      
}

// Smartphones
@include mediaSm {
    main {
      padding: 2rem;
      #home h1 {
        margin-top: 10vh;
      }
  
      .lg-heading {
        margin-top:1rem;
        font-size: 5rem;
      }
    }
  
    .project {
      grid-template-columns: 1fr;
    }
  }